body{
  /*background: gray;*/
  background: url(James_LeBron.jpg);
  background-repeat:no-repeat;
}

div{
  background: green;
  border: orange;
  border-width: thin; /* 10 px */
  border-style: dotted;

  }

p{
  color: yellow;
}
span{
  background: blue;
  color: whitesmoke;
}