/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

/*Colors can be names, or codes*/
body {
  background: chocolate;
}
h1{
  color: yellowgreen;
}

li {
  color: rgb(0,0,200);
}

p{
  color: #000000;
}

h4{
  color: rgba(13,90,140,0.5)
}