.face {
  width: 600px;
  height: 600px;
  background-color: yellow;
color: black;
}

.left_eye {
  position: absolute;
  left: 350px;
  right: 10px; 
  top: 10px;
  bottom: 10px;
  background-color: white;
    width: 200px;
  height: 200px;
  margin: 20px;
  
  
}

.right_eye {
  position: absolute;
  left: auto;
  right: auto;
  top: 10px;
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 20px;
  
}

.left_eye {
  position: absolute;
  left: 350px;
  right: 10px; 
  top: 10px;
  bottom: 10px;
  background-color: white;
    width: 200px;
  height: 200px;
  margin: 20px;
  
  
}

.left_pupil {
  position: absolute;
  left: 390px;
  right: 10px; 
  top: 50px;
  bottom: 10px;
  background-color: black;
    width: 80px;
  height: 80px;
  margin: 20px;

  
}

.right_pupil {
  position: absolute;
  left: 40px;
  right: 10px; 
  top: 50px;
  bottom: 10px;
  background-color: black;
    width: 80px;
  height: 80px;
  margin: 20px;

  
}

.mouth {
  position: absolute;
  left: 50px;
  right: 0px; 
  top: 250px;
  bottom: 0px;
  background-color: black;
    width: 455px;
  height: 285px;
  margin: 20px;
  
}

.tounge{
  position: absolute;
  left: 175px;
  right: 0px; 
  top: 375px;
  bottom: 0px;
  background-color: red;
    width: 200px;
  height: 150px;
  margin: 20px;
}

#wired {
  position: absolute;
  left: 265px;
  right: 0px; 
  top: 375px;
  bottom: 0px;
  background-color: black;
    width: 20px;
  height: 110px;
  margin: 20px;
}

.tooth{
  position: absolute;
  left: 70px;
  right: 0px; 
  top: 270px;
  bottom: 0px;
  background-color: white;
    width: 50px;
  height: 50px;
  margin: 20px;
}

.tooth_1{
 position: absolute;
  left: 65px;
  right: 0px; 
  top: 270px;
  bottom: 0px;
  background-color: white;
    width: 40px;
  height: 50px;
  margin: 20px;
}

.tooth_2{
 position: absolute;
  left: 115px;
  right: 0px; 
  top: 270px;
  bottom: 0px;
  background-color: white;
    width: 40px;
  height: 50px;
  margin: 20px;
}

.tooth_3{
 position: absolute;
  left: 165px;
  right: 0px; 
  top: 270px;
  bottom: 0px;
  background-color: white;
    width: 40px;
  height: 50px;
  margin: 20px;
}

.tooth_4{
 position: absolute;
  left: 220px;
  right: 0px; 
  top: 270px;
  bottom: 0px;
  background-color: white;
    width: 40px;
  height: 50px;
  margin: 20px;
}

.tooth_5{
 position: absolute;
  left: 270px;
  right: 0px; 
  top: 270px;
  bottom: 0px;
  background-color: white;
    width: 40px;
  height: 50px;
  margin: 20px;
}

.tooth_6{
 position: absolute;
  left: 320px;
  right: 0px; 
  top: 270px;
  bottom: 0px;
  background-color: white;
    width: 40px;
  height: 50px;
  margin: 20px;
}

.tooth_7{
 position: absolute;
  left: 370px;
  right: 0px; 
  top: 270px;
  bottom: 0px;
  background-color: white;
    width: 40px;
  height: 50px;
  margin: 20px;
}