body{
    background-color: #b8d786;
}


.Header{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #bb5f38;
    background-color: #000000;
}

.h2{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    margin: 50px;
    color: #F39EB6;
    border: 5px dotted #FFF19B;
    border-radius: 10px;
}

.h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: #F39EB6;
    border: 5px dotted #df5048;
    font-size: 22px;
    color: #088395;
}

.point_three{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 50px;
    font-size: 30px;
     color: #F39EB6;
    border: 5px dotted #FFF19B;
    color: #F39EB6;
}

.three{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #088395;
    border: 5px dotted #df5048;
}

.point_four{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
        margin: 50px;
    color: #F39EB6;
     color: #F39EB6;
    border: 5px dotted #FFF19B;
}

.four{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #088395;
        border: 5px dotted #df5048;

}

.point_five{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
        margin: 50px;
    color: #F39EB6;
    border: 5px dotted #FFF19B;
}

.five1{
    font-family: cursive;
    font-size: 20px;
    color: #745003;
    border: 5px dotted #0b0b0b;
}

.five2{
    font-family: cursive;
    font-size: 22px;
    color: #740A03;
        border: 5px dotted #df5048;

}

.five3{
    font-family: cursive;
    font-size: 22px;
    color: #000000;
        border: 5px dotted #0b0b0b;

}
 


.five4{
    font-family: cursive;
    font-size: 22px;
    color: #8100D1;
        border: 5px dotted #f4fe2c;

}

.point_six{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #F39EB6;
        margin: 50px;
            border: 5px dotted #FFF19B;

}

.six{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #088395;
        border: 5px dotted #f351e3;

}

.point_seven{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
        margin: 50px;
            border: 5px dotted #FFF19B;

    color: #F39EB6;
}
.seven{
    font-family: cursive;
    font-size: 22px;
    color: #088395;
        border: 5px dotted #df5048;

}