.Header{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #B8DB80;
}

.h2{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: #F39EB6;
}

.h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #088395;
}