.Header{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #B8DB80;
}

.h2{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    margin: 50px;
    color: #F39EB6;
}

.h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #088395;
}

.point_three{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #F39EB6;
}

.three{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #088395;
}

.point_four{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #F39EB6;
}

.four{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #088395;
}

.point_five{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #F39EB6;
}

.five1{
    font-family: cursive;
    font-size: 22px;
    color: #740A03;
}

.five2{
    font-family: cursive;
    font-size: 22px;
    color: #740A03;
}

.five3{
    font-family: cursive;
    font-size: 22px;
    color: #000000;
}
 


.five4{
    font-family: cursive;
    font-size: 22px;
    color: #8100D1;
}

.point_six{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #F39EB6;
}

.six{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #088395;
}

.point_seven{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #F39EB6;
}
.seven{
    font-family: cursive;
    font-size: 22px;
    color: #088395;
}